.divider {
	position: relative;
}
.galaxy {
	position: relative;
	height: 100%;
	width: 100%;
}
.planet {
	position: absolute;
	left: 50%;
	width: 150px;
	height: 150px;
	animation: planetanimation 50s infinite;
}

@keyframes planetanimation {
	0% {top: 0px; left: 0px; transform: rotate(0deg);}
	25% {top: 100px; right: 150px; transform: rotate(360deg);}
	50% { top: 200px; right: 150px; transform: rotate(180deg);}
	75% {top: 300px; right: 200px; transform: rotate(360deg);}
	100% { top: 600px; right: 300px; transform: rotate(180deg); }
}
.rocket {
	position: absolute;
	width: 150px;
	height: 150px;
	right: 100%;
	bottom: 10%;
	animation: rocket 20s 1s;
}
@keyframes rocket {
	0% {bottom: 0px; left: 0px; }
	25% {bottom: 250px; left: 500px; }
	50% {bottom: 500px; left: 1000px; }
	100% {bottom: 100px; left: 100px;}

}